<!doctype html>
{% load static %}
{% load i18n %}
{% load my_tags %}
{% get_url request as my_url %}
{% encode_url my_url as encoded_url %}
<html lang="uz">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Najot Ta'lim - {% trans 'Feedback site' %}</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap/templatemo-ebook-landing.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'files/images/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/carusel/carusel.css' %}">

</head>

<body>

<main>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'common:home' %}">
                <i><img src="{% static 'files/images/logo.png' %}" alt="404" style="width: 60px;"></i>
                <span>Najot Ta'lim</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-auto me-lg-4">

                    <li class="nav-item">
                        <a class="nav-link navbar-nav-scroll" href="#section_1">{% trans 'Home' %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post:create_problem' %}">{% trans 'Problem' %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post:create_offer' %}">{% trans 'Offer' %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post:offer_problem' %}">{% trans 'Offers&Problems' %}</a>
                    </li>
                    <li class="nav-item">
                        <select class="form-select language-select" aria-label="Select language" onchange="location=this.value">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for lang in languages %}
                            {% if lang.code != LANGUAGE_CODE %}
                            <option value="{% get_full_url request lang.code %}">
                                {{ lang.name_local }}
                            </option>
                            {% else %}
                            <option value="{% get_full_url request lang.code %}" disabled selected>
                                {{ lang.name_local }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </li>
                </ul>

                <div class="d-none d-lg-block">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'users:logout' url=encoded_url %}"
                       class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                        <i class="btn-icon bi-person"></i>
                        <span>{% trans 'Log out' %}</span>
                    </a>
                    {% else %}
                    <a href="{% url 'users:login' url=encoded_url %}"
                       class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                        <i class="btn-icon bi-person"></i>
                        <span>{% trans 'Log in' %}</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>


    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 mb-2 pb-2 pb-lg-0 mb-lg-0">

                    <h6>{% trans 'Exchange of ideas' %}</h6>

                    <h1 class="text-white mb-4">{% trans 'Online platform for requests and offers' %}</h1>

                    <a href="{% url 'post:create_problem' %}" class="btn custom-btn smoothscroll me-3">{% trans 'Problems' %}</a>

                    <a href="{% url 'post:create_offer' %}" class="link link--kale smoothscroll">{% trans 'Make an offer' %}</a>
                </div>
                <div class="hero-image-wrap col-lg-6 col-12 mt-3 mt-lg-0">
                    <dotlottie-player src="https://lottie.host/ef67cee9-3f8a-4da2-945f-ab8a83e541b0/QZXEjRpNmf.json"
                                      background="transparent" speed="1" loop
                                      autoplay class="hero_animation"></dotlottie-player>
                </div>
            </div>
        </div>
    </section>


    <section class="py-lg-5"></section>


    <section class="book-section section-padding" id="section_2">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">

                    <dotlottie-player src="https://lottie.host/a22e8d98-ec65-45ba-8ddd-64400460fecc/jRwV638DWK.json"
                                      background="transparent" speed="1" style="width: 550px; height: auto;" loop
                                      autoplay class="img_fluid"></dotlottie-player>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="book-section-info">
                        <h6>{% trans 'Brief information about the site' %}</h6>


                        <h2 class="mb-4">{{ about.title }}</h2>

                        <p>{{ about.description }}</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center">
                    <h6>{% trans 'Questions - Answers' %}</h6>

                    <h2 class="mb-5">{% trans 'Frequently asked questions' %}</h2>
                </div>

                <div class="col-lg-4 col-12">
                    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch">
                        <nav class="nav nav-pills flex-column">
                            {% for question in questions %}
                            <a class="nav-link smoothscroll" href="#item-{{ forloop.counter }}"><strong>{% trans 'Question' %} {{ forloop.counter }}: </strong>{{ question.question }}</a>
                            {% endfor %}
                        </nav>
                    </nav>
                </div>

                <div class="col-lg-8 col-12">
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                         class="scrollspy-example-2" tabindex="0">
                        {% for question in questions %}
                        <div class="scrollspy-example-item" id="item-{{ forloop.counter }}">
                            <h5>{{ forloop.counter }}. {% trans 'Question' %}: {{ question.question }}</h5>
                            <p>{{ question.answer }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="author-section section-padding" id="section_3">
        <div class="col-lg-12 col-12 text-center">
            <h6>{% trans 'Team' %}</h6>

            <h2 class="mb-5">{% trans 'About the participants in the team' %}</h2>
        </div>
        <div class="slider">
            <div class="slides-track">
                {% for team in teams %}
                <div class="slide">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-6 col-12">
                                <img src="{{ team.avatar.url }}"
                                     class="author-image img-fluid"
                                     alt="404">
                            </div>

                            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                                <h6>{{ team.profession }}</h6>

                                <h2 class="mb-4">{{ team.full_name }}</h2>

                                <p>
                                    {{ team.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

    </section>


    <section class="reviews-section section-padding" id="section_4">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center mb-5">
                    <h6>{% trans 'Appeals' %}</h6>

                    <h2>{% trans 'Best offers & problems' %}</h2>
                </div>
                <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner" style="padding: 0 20px">
                        <div class="carousel-item active">
                            <div class="card-wrapper container-sm d-flex  justify-content-around">
                                {% for offer in three_offers %}
                                <div class="col-lg-4 col-12 p-3">
                                    <div class="custom-block d-flex flex-wrap">
                                        <div class="custom-block-image-wrap d-flex flex-column">
                                            <a href="{% url 'users:profile' pk=offer.user.pk %}" class="btn"><img src="{{ offer.user.profile.avatar.url }}"
                                                                                                      class="img-fluid avatar-image" alt=""></a>

                                            <div class="text-center mt-3">
                                                <a href="{% url 'users:profile' pk=offer.user.pk %}">
                                                    <span class="text-white">{{ offer.user.get_full_name }}</span></a>

                                            </div>
                                        </div>

                                        <div class="custom-block-info">
                                            <div class="reviews-group mb-3">
                                                <form method="post" action="{% if offer.ip_address is None %}{% url 'post:like_offer' pk=offer.pk %}{% else %}{% url 'post:like_problem' pk=offer.pk %}{% endif %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="before" value="{{ my_url }}">
                                                    <div class="action-icons">
                                                        {% if request.user.is_authenticated %}
                                                        {% if request.user in offer.likes.user.all %}
                                                            <button type="submit" class="btn action-item">
                                                                <i class="bi bi-heart-fill text-danger">{{ offer.total_likes }}</i>
                                                            </button>
                                                        {% else %}
                                                            <button type="submit" class="btn action-item">
                                                                <i class="bi bi-heart text-danger">{% if offer.total_likes > 0 %}{{ offer.total_likes }}{% else %}0{% endif %}</i>
                                                            </button>
                                                        {% endif %}
                                                        {% else %}
                                                        <i class="bi bi-heart text-danger">{% if offer.total_likes > 0 %}{{ offer.total_likes }}{% else %}0{% endif %}</i>
                                                        {% endif %}
                                                        <i class="bi bi-eye-fill text-info">{{ offer.total_views }}</i>
                                                        <i class="bi bi-chat-dots-fill text-warning">{{ offer.total_comments }}</i>
                                                    </div>
                                                </form>
                                            </div>
                                            <h5 id="offer-title1" class="text-light">
                                                <a href='{% url "post:offer_detail" pk=offer.pk url=encoded_url %}' class="navbar-brand">
                                                    {{ offer.title | truncatechars:70 }}
                                                </a>
                                            </h5>
                                            <p class="mb-0">{{ offer.description | truncatechars:200 }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                <button class="carousel-control-prev carousel-btn" type="button"
                                        data-bs-target="#carouselExampleControls"
                                        data-bs-slide="prev">
                                    <span class="bi bi-caret-left-fill "></span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControls"
                                        data-bs-slide="next"
                                        style="text-align: end; width: 45px; position: absolute; right: 0; border-radius: 8px">
                                    <span style="color: #f4a261; font-size: 25px" class="bi bi-caret-right-fill"></span>
                                </button>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card-wrapper container-sm d-flex  justify-content-around">
                                {% for offer in offers %}
                                <div class="col-lg-4 col-12 p-3">
                                    <div class="custom-block d-flex flex-wrap">
                                        <div class="custom-block-image-wrap d-flex flex-column">
                                            <a href="{% url 'users:profile' pk=offer.user.pk %}" class="btn"><img src="{{ offer.user.profile.avatar.url }}"
                                                                                                      class="img-fluid avatar-image" alt=""></a>

                                            <div class="text-center mt-3">
                                                <a href="{% url 'users:profile' pk=offer.user.pk %}">
                                                    <span class="text-white">{{ offer.user.get_full_name }}</span></a>

                                            </div>
                                        </div>

                                        <div class="custom-block-info">
                                            <div class="reviews-group mb-3">
                                                <form method="post" action="{% if offer.ip_address is None %}{% url 'post:like_offer' pk=offer.pk %}{% else %}{% url 'post:like_problem' pk=offer.pk %}{% endif %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="before" value="{{ my_url }}">
                                                    <div class="action-icons">
                                                        {% if request.user.is_authenticated %}
                                                        {% if request.user in offer.likes.user.all %}
                                                            <button type="submit" class="btn action-item">
                                                                <i class="bi bi-heart-fill text-danger">{{ offer.total_likes }}</i>
                                                            </button>
                                                        {% else %}
                                                            <button type="submit" class="btn action-item">
                                                                <i class="bi bi-heart text-danger">{% if offer.total_likes > 0 %}{{ offer.total_likes }}{% else %}0{% endif %}</i>
                                                            </button>
                                                        {% endif %}
                                                        {% else %}
                                                        <i class="bi bi-heart text-danger">{% if offer.total_likes > 0 %}{{ offer.total_likes }}{% else %}0{% endif %}</i>
                                                        {% endif %}
                                                        <i class="bi bi-eye-fill text-info">{{ offer.total_views }}</i>
                                                        <i class="bi bi-chat-dots-fill text-warning">{{ offer.total_comments }}</i>
                                                    </div>
                                                </form>
                                            </div>
                                            <h5 id="offer-title2" class="text-light"><a href='{% url "post:offer_detail" pk=offer.pk url=encoded_url %}' class="navbar-brand">{{ offer.title | truncatechars:70 }}</a></h5>
                                            <p class="mb-0">{{ offer.description | truncatechars:200 }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                <button class="carousel-control-prev carousel-btn" type="button"
                                        data-bs-target="#carouselExampleControls"
                                        data-bs-slide="prev">
                                    <span class="bi bi-caret-left-fill "></span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControls"
                                        data-bs-slide="next"
                                        style="text-align: end; width: 45px; position: absolute; right: 0; border-radius: 8px">
                                    <span style="color: #f4a261; font-size: 25px" class="bi bi-caret-right-fill"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </section>
    <!--    Footer   -->
    <!--footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>{% trans "Copyright © 2024, All Right Reserved Najot Ta'lim Feedback" %}</span>
                </div>
                <!-- End Col -->
                <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <a href="{% url 'common:home' %}">{% trans 'Home' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Copyright Container -->
    </div>

    <!--footer-->
</main>

<!-- JAVASCRIPT FILES -->
<script src="{% static 'js/bootstrap/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap/jquery.sticky.js' %}"></script>
<script src="{% static 'js/bootstrap/click-scroll.js' %}"></script>
<script src="{% static 'js/bootstrap/custom.js' %}"></script>

<!-- Animations -->
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
        type="module"></script>


<!-- Carusel -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>