<!doctype html>
{% load static %}
{% load i18n %}
{% load my_tags %}
{% get_url request as my_url %}
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Najot Ta'lim | {% trans 'Comment' %}</title>
    <link rel="stylesheet" href="{% static 'css/comments/style-scss.css' %}">
    <link rel="icon" href="{% static 'files/images/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap/templatemo-ebook-landing.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'files/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/carusel/carusel.css' %}">
    <!--    js file import-->
    <script src="{% static 'js/comments/comment-manage.js' %}" defer></script>
</head>
<body>
<div class="app">
    <div class="header">
        <div class="col-lg-8 col-md-10 col-8 mx-auto">
            <a href="{{ redirect_url }}">
                <button type="submit" class="form-control back-btn">
                    <i class="bi bi-chevron-left"></i>
                    {% trans 'All Offers' %}
                </button>
            </a>
        </div>
        <div class="user-settings">
            <form method="post" action="{% if offer.ip_address is None %}{% url 'post:like_offer' pk=offer.pk %}{% else %}{% url 'post:like_problem' pk=offer.pk %}{% endif %}">
                {% csrf_token %}
                <input type="hidden" name="before" value="{{ my_url }}">
                {% if request.user.is_authenticated %}
                {% if request.user in offer.likes.user.all %}
                <button type="submit" class="btn">
                    <svg aria-label="Unlike" color="red" fill="currentColor" height="24" viewBox="0 0 48 48" width="24">
                        <title>Unlike</title>
                        <path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path>
                    </svg>
                </button>
                {% else %}
                <button type="submit" class="btn">
                    <svg aria-label="Like" color="red" fill="currentColor" height="24" viewBox="0 0 24 24" width="24">
                        <title>Like</title>
                        <path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path>
                    </svg>
                </button>
                {% endif %}
                {% else %}
                <svg aria-label="Like" color="red" fill="currentColor" height="24" viewBox="0 0 24 24" width="24">
                    <title>Like</title>
                    <path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path>
                </svg>
                {% endif %}
                <span>{% if offer.total_likes > 0 %}{{ offer.total_likes }}{% else %}0{% endif %}</span>
            </form>
            {% if offer.user is not None %}
            <a href="{% url 'users:profile' pk=offer.user.pk %}"><img class="user-profile" src="{{ offer.user.profile.avatar.url }}"
                 alt="404" class="account-profile" alt="404"></a>
            {% endif %}
        </div>
    </div>
    <div class="wrapper">
        <div class="chat-area">
            <div class="chat-area-header">
                <div class="chat-area-title">{% trans 'Who wrote a comment' %}</div>
                <div class="chat-area-group">
                    {% for comment in commented_users %}
                    {% if forloop.counter <= 4 %}
                    <img class="chat-area-profile"
                         src="{{ comment.profile.avatar.url }}"
                         alt=""/>
                    {% endif %}
                    {% endfor %}

                    <!-- Show remaining comment count -->
                    {% if commented_users|length > 4 %}
                    <span>+4</span>
                    {% else %}
                    <span>{{ commented_users|length }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="chat-area-main">
                {% for comment in comments %}
                {% if comment.user == request.user %}
                <div class="chat-msg owner">
                    <div class="chat-msg-profile">
                        <a href="{% url 'users:profile' pk=comment.user.pk %}">
                            <img class="chat-msg-img"
                                 src="{{ comment.user.profile.avatar.url }}" alt=""/></a>

                        <div class="chat-msg-date">
                            {% if comment.created_at|date:"Y-m-d" == "now"|date:"Y-m-d" %}
                                {% trans 'Message sent today at' %} {{ comment.created_at|time }}
                            {% elif comment.created_at|date:"Y-m-d" == "now"|date:"Y-m-d"|add:"-1 day" %}
                                {% trans 'Message sent yesterday at' %} {{ comment.created_at|time }}
                            {% else %}
                                {% trans 'Message sent on' %} {{ comment.created_at|date:"M d, Y" }} at {{ comment.created_at|time }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="chat-msg-content">
                        <div class="chat-msg-text">
                            <form method="post" action="{% if offer.ip_address is None %}{% url 'post:like_offer_comment' pk=comment.pk %}{% else %}{% url 'post:like_problem_comment' pk=comment.pk %}{% endif %}" class="mb-3 d-flex align-items-center">
                                <div class="me-3">{{ comment.comment }}</div>

                                {% csrf_token %}
                                <input type="hidden" name="before" value="{{ my_url }}">

                                <hr class="d-none d-md-block mx-3" style="height: 2px; background-color: #faf7f7;">

                                <button type="submit" class="btn btn-outline-danger me-2">
                                    {% if request.user in comment.likes.user.all %}
                                    <svg aria-label="Unlike" color="red" fill="currentColor" height="24" viewBox="0 0 48 48" width="24">
                                        <title>Unlike</title>
                                        <path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path>
                                    </svg>
                                    {% else %}
                                    <svg aria-label="Like" color="red" fill="currentColor" height="24" viewBox="0 0 24 24" width="24">
                                        <title>Like</title>
                                        <path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path>
                                    </svg>
                                    {% endif %}
                                </button>
                                <span class="badge bg-light text-dark">{% if comment.total_likes > 0 %}{{ comment.total_likes }}{% else %}0{% endif %}</span>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="chat-msg">
                    <div class="chat-msg-profile">
                        <a href="{% url 'users:profile' pk=comment.user.pk %}">
                            <img class="chat-msg-img"
                             src="{{ comment.user.profile.avatar.url }}"
                                 alt=""/></a>
                        <div class="chat-msg-date">
                            {% if comment.created_at|date:"Y-m-d" == "now"|date:"Y-m-d" %}
                                {% trans 'Message sent today at' %} {{ comment.created_at|time }}
                            {% elif comment.created_at|date:"Y-m-d" == "now"|date:"Y-m-d"|add:"-1 day" %}
                                {% trans 'Message sent yesterday at' %} {{ comment.created_at|time }}
                            {% else %}
                                {% trans 'Message sent on' %} {{ comment.created_at|date:"M d, Y" }} at {{ comment.created_at|time }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="chat-msg-content">
                        <div class="chat-msg-text">
                            <form method="post" action="{% if offer.ip_address is None %}{% url 'post:like_offer_comment' pk=comment.pk %}{% else %}{% url 'post:like_problem_comment' pk=comment.pk %}{% endif %}" class="mb-3 d-flex align-items-center">
                                <div class="me-3">{{ comment.comment }}</div>
                                {% csrf_token %}
                                <input type="hidden" name="before" value="{{ my_url }}">

                                <hr class="d-none d-md-block mx-3" style="height: 2px; background-color: #faf7f7;">

                                {% if request.user.is_authenticated %}
                                <button type="submit" class="btn btn-outline-danger me-2">
                                    {% if request.user in comment.likes.user.all %}
                                        <svg aria-label="Unlike" color="red" fill="currentColor" height="24" viewBox="0 0 48 48" width="24">
                                            <title>Unlike</title>
                                            <path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path>
                                        </svg>
                                    {% else %}
                                        <svg aria-label="Like" color="red" fill="currentColor" height="24" viewBox="0 0 24 24" width="24">
                                            <title>Like</title>
                                            <path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path>
                                        </svg>
                                    {% endif %}
                                </button>
                                {% else %}
                                <svg aria-label="Like" color="red" fill="currentColor" height="24" viewBox="0 0 24 24" width="24">
                                    <title>Like</title>
                                    <path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path>
                                </svg>
                                {% endif %}
                                <span class="badge bg-light text-dark">{% if comment.total_likes > 0 %}{{ comment.total_likes }}{% else %}0{% endif %}</span>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
            <div class="chat-area-footer">
                {% if offer.ip_address is None %}
                <form style="width: 100%; display: flex; justify-content: space-between;" method="post" action="{% url 'post:offer_comment_poster' pk=offer.pk %}">
                    {% else %}
                    <form style="width: 100%; display: flex; justify-content: space-between;" method="post" action="{% url 'post:problem_comment_poster' pk=offer.pk %}">
                    {% endif %}
                    {% csrf_token %}
                    <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
                    <input name="comment" type="text" placeholder="Type something here..."/>
                    <button type="submit" class="comment-btn"
                            style="background-color: #ffffff; border: none; &:hover{background-color: #125393; color: #ffffff;}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#E76F51"
                             class="bi bi-send-check-fill" viewBox="0 0 16 16">
                            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                            <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"/>
                        </svg>
                    </button>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="detail-area">
            <div class="detail-owner">
                <div class="detail-owner-avatar">
                    Owner <br><br>

                    <a href="{{ offer.user.profile.linkedin_link }}" class="follow-me" target="_blank">
                            <span style="color: #9c9cab">
                             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100"
                                  viewBox="0 0 48 48">
                                <path fill="#0288D1"
                                      d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5V37z"></path><path
                                     fill="#FFF"
                                     d="M12 19H17V36H12zM14.485 17h-.028C12.965 17 12 15.888 12 14.499 12 13.08 12.995 12 14.514 12c1.521 0 2.458 1.08 2.486 2.499C17 15.887 16.035 17 14.485 17zM36 36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698-1.501 0-2.313 1.012-2.707 1.99C24.957 25.543 25 26.511 25 27v9h-5V19h5v2.616C25.721 20.5 26.85 19 29.738 19c3.578 0 6.261 2.25 6.261 7.274L36 36 36 36z"></path>
                                </svg>
                             {% trans 'Follow on LinkedIn' %}
                            </span>
                        <span class="developer">
                     <img src="{{ offer.user.profile.avatar.url }}" alt="404avatar"/>
                     {{ offer.user.get_full_name }} - {{ offer.user.profile.linkedin_link }}
                    </span>
                    </a>
                </div>
            </div>
            <div class="detail-area-header">
                <div class="detail-title">{{ offer.title }}</div>
                <div class="detail-subtitle">{{ offer.created_at.date }}</div>
            </div>
            <div class="detail-photos">
                <div class="detail-photo-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-body-text" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5m0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    {% trans 'Offer description' %}
                </div>
                <div class="detail-description">{{ offer.description }}</div>
            </div>

        </div>
    </div>
</div>

<!--JAVASCRIPT FILES-->
<script src="{% static 'js/bootstrap/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap/jquery.sticky.js' %}"></script>
<script src="{% static 'js/bootstrap/click-scroll.js' %}"></script>
<script src="{% static 'js/bootstrap/custom.js' %}"></script>
</body>
</html>