<!doctype html>
<html lang="uz">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm Email</title>
</head>
<body>
<h1>Confirm Email, {{ user.first_name }}{{ user.last_name }}</h1>
<h2>Thank you for registering with us. Please confirm your email address by clicking the link below.</h2>
<a href="{{ full_url }}">Confirm Email</a>
</body>
</html>